body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
    display: block;
    margin: auto;
}

header h1 {
    text-align: center;
}

#title {
    color: #505050;
    font-size: 40px;
    text-transform: uppercase;
}

.link_image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:inline-block;
}

.link_image:hover{
    transform: scale(1.2);
}

section{
    text-align: center;
}

footer{
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

article{
    width:340px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

article:hover{
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.127);
}


article img{
    max-width:100%;
}